*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(to right, #005aa7, #fffde4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.card{
    width: 350px;
    height: 530px;
    /* background: linear-gradient(to top, #9796b1, #8f797eb7); */
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}

.card img{
    width:100%;
    height: 30%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;

}

.textbox{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    width: 75%;

}


.amountbox{

    width: 80%;
    height: 11%;
    background-color: rgba(88, 155, 243, 0.418);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.leftbox{
display: flex;
align-items: center;
gap: 10px; 
width: 50%;

}

.leftbox img{
    height:45px;
    width:45px;
    border-radius: 10px;
}

.paymentbutton{
    height: 9%;
    width: 80%;
    background-color: #0011a7;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.paymentbutton a{
    text-decoration: none;
    color: white;

}

.cancle a{
    font-size: large;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
